.btn-menu {
  position: absolute;
  z-index: 9;
  top: 28px;
  right: 24px;
  width: 24px;
  height: 32px;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}
.btn-menu__bar {
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: white;
}
.btn-menu__bar:before, .btn-menu__bar:after {
  position: absolute;
  top: 8px;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  content: "";
  background-color: white;
  transition: transform 0.3s ease;
}
.btn-menu__bar:after {
  top: -8px;
}
.btn-menu__bar--active {
  height: 0;
}
.btn-menu__bar--active:before, .btn-menu__bar--active:after {
  top: -4px;
  transform: rotate(-45deg);
}
.btn-menu__bar--active:after {
  transform: rotate(45deg);
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  position: relative;
  height: 536px;
  background-image: url("../images/iconos/arrow-down.svg"), url("../images/mobile/image-header.jpg");
  background-size: 35px, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center 290px, center bottom;
}
.header__logo {
  display: inline-block;
  margin-top: 32px;
  margin-left: 24px;
}
.header__title {
  position: relative;
  top: 58px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 4rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 6.5px;
}

.menu {
  position: absolute;
  z-index: -9;
  top: 100px;
  right: 24px;
  width: 359px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 305px;
  padding-bottom: 18px;
  background-color: white;
  opacity: 0;
  transition: opacity 0.5s ease;
}
.menu__link {
  font-size: 2rem;
  color: #818498;
}
.menu__link--contact {
  padding: 19px 26px 18px;
  border-radius: 50px;
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 1.55rem;
  color: #23303e;
  text-transform: uppercase;
  background-color: #fad400;
}
.menu::before {
  position: absolute;
  top: -24px;
  right: 0;
  width: 24px;
  height: 24px;
  border-left: 12px solid transparent;
  border-right: 12px solid white;
  border-top: 12px solid transparent;
  border-bottom: 12px solid white;
  content: "";
}
.menu--active {
  z-index: 0;
  opacity: 1;
}

.main {
  text-align: center;
}

.issue {
  display: flex;
  flex-direction: column;
}
.issue__img {
  margin: 0 auto;
}
.issue__text {
  margin: 38px 24px 67px;
}
.issue__title {
  margin-bottom: 24px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 3.15rem;
  color: inherit;
}
.issue__description {
  margin-bottom: 32px;
  font-size: 1.8rem;
  color: #818498;
  line-height: 3rem;
}
.issue__link--yellow, .issue__link--red {
  position: relative;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.5rem;
  color: inherit;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}
.issue__link--yellow:after, .issue__link--red:after {
  display: block;
  position: absolute;
  z-index: -9;
  bottom: -1px;
  left: -2px;
  width: 126px;
  height: 8px;
  border-radius: 4px;
  content: "";
  background-color: #fff3ad;
}
.issue__link--red:after {
  background-color: #ffe9e6;
}

.services {
  display: flex;
  flex-direction: column;
  color: #23303e;
}
.services__graphic-design, .services__photography {
  position: relative;
  height: 596px;
  background-size: cover;
}
.services__graphic-design {
  background-image: url("../images/mobile/image-graphic-design.jpg");
}
.services__photography {
  background-image: url("../images/mobile/image-photography.jpg");
}
.services__text {
  position: absolute;
  bottom: 48px;
  margin-right: 24px;
  margin-left: 24px;
}
.services__title {
  margin-bottom: 27px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 2.8rem;
  color: inherit;
}
.services__description {
  font-size: 1.55rem;
  line-height: 27px;
}

.testimonials {
  margin-bottom: 76px;
}
.testimonials__container {
  display: flex;
  flex-direction: column;
}
.testimonials__title {
  margin: 64px 0 8px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.6rem;
  color: #a7abae;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.testimonials__article {
  margin-top: 56px;
}
.testimonials__img {
  width: 72px;
  margin: 0 auto;
  border-radius: 50%;
}
.testimonials__text {
  margin: 32px 24px;
  font-family: inherit;
  font-weight: 600;
  font-size: 1.8rem;
  color: #818498;
  line-height: 32px;
}
.testimonials__name {
  margin-bottom: 4px;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 1.8rem;
  color: inherit;
}
.testimonials__profession {
  margin-top: 12px;
  font-size: 1.4rem;
  color: #a7abae;
}

.ilustrations {
  display: flex;
  flex-direction: column;
}
.ilustrations__container {
  display: flex;
  height: 188px;
}
.ilustrations__img {
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 352px;
  padding: 36px 0 50px;
  background-color: #7fd6c3;
}
.footer__logo {
  width: 212px;
  margin: 0 auto;
  padding: 0 20px 12px;
}
.footer__menu {
  display: flex;
  justify-content: space-around;
  padding: 0 12px 60px;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 0 auto;
}

picture {
  width: 100%;
}