include ../config/config
doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap" rel="stylesheet">
        link(rel="stylesheet", href="./css/styles.css")
        link(rel="shortcut icon", href="./images/iconos/favicon-32x32.png", type="image/x-icon")
        title Frontend Mentor | Sunnyside agency landing page
    body        
        header.header 

                     
            
            img(src="./images/logo/logo.svg", alt="logo").header__logo 

            h1.header__title We are creatives
                span.header__arrow
            button(type="button").btn-menu#btn-menu
                span.btn-menu__bar 
                nav 
                    ul.header__menu  
                        each navBar in navBars                        
                            li
                                a(href="#").header__menu-link= `${navBar}`
                        li
                            a(href="#").header__menu-link--contact Contact 
            

           

          
        script(src="./js/scripts.js") 