-const navMenus=["About", "Services", "Projects"]

-
    const socialMedia={
        "facebook": "./images/iconos/facebook.svg",
        "instagram": "./images/iconos/instagram.svg",
        "twitter": "./images/iconos/twitter.svg",
        "pinterest": "./images/iconos/pinterest.svg"

    }