.btn-menu{
    position: absolute;
    z-index: 9;
    top: 28px;
    right: 24px;

    width: 24px;
    height: 32px;
    padding: 0;
    border: 0;

    background:none;    
    cursor: pointer;

    &__bar{
        position: relative;
        display: block;
        
        width: 100%;
        height: 2px;
        border-radius: 1px;

        background-color: $white;

        &:before, &:after{
            position: absolute;
            top: 8px;
            display: block;            
            
            width: 100%;
            height: 2px; 
            border-radius: 1px;

            content: '';            
            background-color: $white;

            transition: transform 0.2s ease;
        }
        &:after{
            top: -8px;
        }
        &--active{
            height: 0;

            &:before, &:after{
                top: -4px;
                transform: rotate(-45deg);
            }
            &:after{
                transform: rotate(45deg);
            }
        }            
    }
}
@media screen and (min-width: 1024px){
    .btn-menu{
        z-index: -9;
    }
}