// Colors
    //# Primary
$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$darkCyan: hsl(167, 40%, 24%); // graphic design text
$darkBlue: hsl(198, 62%, 26%); // photography text
$darkMidCyan: hsl(168, 34%, 41%); // footer

    //# Neutral
$darkDesBlue: hsl(212, 27%, 19%);
$darkGarBlue: hsl(213, 9%, 39%);
$darkBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// Font
$fontBarlow: 'Barlow', sans-serif;
$fontFraunces: 'Fraunces', serif;
$fontSize: 1.8rem;