@import './config';
@import './btn-menu';
@import './mixin';


html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;        
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
body{ 
    margin: 0;

    font-family: $fontBarlow;                
}
img{
    display: block;

    max-width: 100%;
    height: auto;    
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    padding:0;
    margin: 0; 

    list-style: none;
}

.container{
    max-width: 1440px;
    margin: 0 auto;  
}

.header{
    position: relative;

    height: 536px;

    background-image: url("../images/iconos/arrow-down.svg"), url("../images/mobile/image-header.jpg");
    background-size: 35px, cover;
    background-repeat: no-repeat, no-repeat; 
    background-position: center 290px, center bottom;
    
    &__logo{
        display: inline-block;

        margin-top: 32px;
        margin-left: 24px;      
    }
    &__title{
        position: relative;
        top: 58px;       
        
        @include font-f-w-s-c($fontFraunces, 900, 4rem, $white);

        text-align: center;
        text-transform: uppercase;        
        letter-spacing: 6.5px;
    }
}

.menu{
    position: absolute;
    z-index: -9;
    // top: 75px;
    // left: -305px;
    // right: 0;
    top: 100px;
    right: 24px;
    width: 359px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 305px;
    padding-bottom:18px;        

    background-color: $white;

    opacity: 0;
    transition: opacity 0.5s ease;

    &__link{            
        font-size: 2rem;        
        color: $darkBlue;

        &--contact{
            padding: 19px 26px 18px;
            border-radius: 50px;

            @include font-f-w-s-c($fontFraunces, 700, 1.55rem, $darkDesBlue);

            text-transform: uppercase;

            background-color: $yellow;
        }
    }
    &::before{        
        position: absolute;
        top: -24px;
        right: 0;

        width: 24px;
        height: 24px;
        border-left: 12px solid transparent;
        border-right: 12px solid $white;
        border-top: 12px solid transparent;
        border-bottom: 12px solid $white;

        content: '';
    }     
    &--active{
        z-index: 0;
        opacity: 1;  
             
    }
}
 
.main{
    text-align: center;
}

.issue{
    display: flex;
    flex-direction: column;   
    
    &__img{
        margin: 0 auto;
    }
    &__text{
        margin: 38px 24px 67px; 
    }
    &__title{         
        margin-bottom: 24px;

        @include font-f-w-s-c($fontFraunces, 900, 3.15rem);               
    }
    &__description{        
        margin-bottom: 32px; 

        font-size: 1.8rem;
        color: $darkBlue; 
        
        line-height: 3rem;
    }
    &__link--yellow, &__link--red{
        position: relative;

        @include font-f-w-s-c($fontFraunces, 900, 1.5rem);
        
        letter-spacing: 1.3px;
        text-transform: uppercase;

        &:after{  
            display: block;

            position: absolute;
            z-index: -9;
            bottom: -1px;
            left: -2px;

            width: 126px;
            height: 8px;
            border-radius: 4px;

            content: '';            
            background-color: lighten($yellow, 35);
        }
    }
    &__link--red:after{
        background-color: lighten($softRed, 25);
    }
}

.services{
    display: flex;
    flex-direction: column;

    color: $darkDesBlue;

    &__graphic-design, &__photography{
        position: relative;        
                
        height: 596px; 
        
        background-size: cover;
    }
    &__graphic-design{
        background-image: url("../images/mobile/image-graphic-design.jpg");
    }
    &__photography{
        background-image: url("../images/mobile/image-photography.jpg");
    }
    &__text{
        position: absolute;
        bottom: 48px;

        margin-right: 24px;
        margin-left: 24px;
    }
    &__title{
        margin-bottom: 27px;

        @include font-f-w-s-c($fontFraunces, 900, 2.8rem);
    }
    &__description{
        font-size: 1.55rem;
        line-height: 27px;
    }
}

.testimonials{    
    margin-bottom: 76px;

    &__container{
        display: flex;
        flex-direction: column;
    }
    &__title{
        margin: 64px 0 8px;

        @include font-f-w-s-c($fontFraunces, 900, 1.6rem,$grayishBlue);
        
        letter-spacing: 5px;
        text-transform: uppercase;
    }    
    &__article{
        margin-top: 56px;
    }
    &__img{
        width: 72px;               
        margin: 0 auto;
        border-radius: 50%;         
    }
    &__text{
        margin: 32px 24px;

        @include font-f-w-s-c(inherit, 600, 1.8rem, $darkBlue);

        line-height: 32px;        
    }
    &__name{
        margin-bottom: 4px;

        @include font-f-w-s-c($fontFraunces, 900, 1.8rem);
    }
    &__profession{
        margin-top: 12px;

        font-size: 1.4rem;
        color: $grayishBlue;        
    }
}

.ilustrations{
    display: flex;
    flex-direction: column;  

    &__container{
        display: flex;

        height: 188px;        
    }
    &__img{  
        width: 100%;      
        height: 100%;        
    }
}

.footer{
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;

    height: 352px;
    padding: 36px 0 50px;

    background-color: #7fd6c3;    

    &__logo{        
        width: 212px;
        margin: 0 auto;
        padding: 0 20px 12px;
    }
    &__menu{
        display: flex;
        justify-content: space-around;

        padding: 0 12px 60px;
    }
}

.social-media{
    display: flex;
    justify-content: space-evenly;
    
    width: 60%;    
    margin: 0 auto;
}

picture{
    width: 100%;
}